<!DOCTYPE html>
<br>

<head>
    <title>Databázové systémy - LS 2020/2021</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'design_welcome_page.css' %}">
</head>

<br>

    <h1>Databázové systémy - LS 2020/2021</h1>
    <h2>Autor: Matej Delinčák</h2></br></br>
    <article>
        <p>Funkcionalita:</p>
        <ul>
            <li><a href="/v1/health">uptime (Zadanie1)</a></li>
            <li><a href="/v1/ov/submissions">submissions (Zadanie2)</a></li>
        </ul>
    </article>

</body>

<footer>
    {% load static %}
    <img src="{% static 'Logo.png' %}">
</footer>
</html>
